header {
    font-family: 'Times New Roman', sans-serif;
  }
  
  main {
  font-family: 'Helvetica', sans-serif;
  }
  
  .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }